# local environment
.vscode
.DS_Store

# latex related files
*.aux
*.auxlock
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.loa
*.lof
*.log
*.lol
*.lot
*.md5
*.tdo
*.toc
*.run.xml
*.synctex.gz
*.synctex(busy)
*-SAVE-ERROR
